{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Задание 4
{% endblock %}

{% block content %}
    {#    {% include "main/fragments/header.html" %}#}
    <div class="row justify-content-center mt-3">
        <div class="col-8">
            <a href="/" class="mt-2 h5 text-decoration-none" style="margin-right: 2rem">На главную</a>
            <hr class="mt-0 mb-4">
        </div>
        <div class="col-8">
            <form action="/ex_results" method="post">
                {% csrf_token %}
                <input type="hidden" value="4" name="number">
                {% for task in tasks %}
                    <div class="reduction-block row mb-5 mt-5">
                        <h4 class="mt-2">{{ task }}</h4>
                        <input class="form-control" type="text" placeholder="" name="address" required>
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-center ">
                    <button type="submit" class="btn btn-success col-6 mt-3">Проверить результаты</button>
                </div>
            </form>
            <div style="margin-bottom: 5rem">
            </div>
        </div>
    </div>
{% endblock %}
