{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Выход
{% endblock %}

{% block content %}
    {#    {% include "main/fragments/header.html" %}#}
    <div class="row justify-content-center mt-3">
        <div class="col-8">
            <a href="/" class="mt-2 h5 text-decoration-none" style="margin-right: 2rem">На главную</a>
            <a href="/registration" class="mt-2 h5 text-decoration-none">Регистрация</a>
            <hr class="mt-0 mb-4">
            <h3>Вы вышли из аккаунта</h3>
        </div>
    </div>
{% endblock %}
