{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    {#    {% include "main/fragments/header.html" %}#}
    <div class="row justify-content-center mt-3">
        <div class="col-8">
            <a href="/" class="mt-2 h5 text-decoration-none">На главную</a>
            <hr class="mt-0 mb-4">
            <div class="mt-2 h2 mb-3">Изменить пароль</div>
            <form class="row" action="" method="post">
                <div class="mb-3 col-12">
                    <label for="oldPassword" class="form-label">Старый пароль</label>
                    <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
                    <div class="form-text">Старый пароль</div>
                </div>
                <div class="mb-3 col-12">
                    <label for="newPassword" class="form-label">Новый пароль</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                    <div class="form-text">Новый пароль (8-10 символов)</div>
                </div>
                <div class="mb-3 col-12">
                    <label for="repeatPassword" class="form-label">Повторите пароль</label>
                    <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" required>
                    <div id="emailHelp" class="form-text">Повторите пароль</div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success mt-3 col-3 ">Изменить</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}
