{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Лекция 2
{% endblock %}

{% block content %}
    {#    {% include "main/fragments/header.html" %}#}
    <div class="row justify-content-center mt-3">
        <div class="col-8">
            <a href="/" class="mt-2 h5 text-decoration-none" style="margin-right: 2rem">На главную</a>
            <hr class="mt-0 mb-4">
        </div>
        <div class="col-8">
            <div class="mt-2 h4">Заголовок пакета IPv6</div>
            <hr class="mt-0 mb-4">
            <p class="paragraph">Одним из основных конструктивных улучшений протокола IPv6 по сравнению с IPv4 является
                упрощённый заголовок IPv6. Заголовок IPv4 состоит из 20 октетов (до 60 байт, если используется поле
                «Параметры») и 12 основных полей заголовка, не учитывая поля «Параметры» и «Заполнитель». Заголовок IPv6
                состоит из 40 октетов (главным образом из-за длины адресов IPv6 источника и назначения) и 8 полей
                заголовков (3 основных поля заголовков IPv4 и 5 дополнительных полей). Кроме того, в IPv6 добавлено
                новое поле, которое не используется в протоколе IPv4. Упрощённый заголовок IPv6 предлагает ряд
                преимуществ по сравнению с IPv4: повышенная эффективность маршрутизации для масштабируемости
                производительности и скорости пересылки; не требуется обработка контрольных сумм; упрощённые и более
                эффективные механизмы заголовков расширений (в отличие от поля «Параметры» в IPv4);</p>
            <p class="paragraph">Заголовок пакета IPv6 состоит из следующих полей (поля описаны в порядке нахождения в пакете):</p>
            <p class="paragraph"><strong>Версия (Version):</strong> поле, содержащее 4-битное двоичное значение, которое
                определяет версию IP-пакета. Для пакетов IPv6 в этом поле всегда указано значение 0110.</p>
            <p class="paragraph"><strong>Класс обслуживания (Traffic class):</strong> 8-битное поле, соответствующее
                полю «Дифференцированные сервисы (DS)» в заголовке IPv4. Оно содержит 6-битное значение точки кода
                дифференцированных сервисов (DSCP), которое используется для классификации пакетов, определения
                приоритета пакета и 2-битное значение явного уведомления о перегрузке (ECN), используемое для управления
                перегрузками трафика.</p>
            <p class="paragraph"><strong>Метка потока (Flow label):</strong> 20-битное поле, предоставляющее специальную
                службу для приложений реального времени. Используя это поле, маршрутизаторам и коммутаторам передается
                информация о необходимости поддерживать один и тот же путь для потока пакетов, что поможет избежать их
                переупорядочивания. Так же метка потока предназначена для обработки по потокам без необходимости
                открывать транспортный внутренний пакет для определения различных потоков трафика.</p>
            <p class="paragraph"><strong>Длина полезной нагрузки (Payload length):</strong> 16-битное поле,
                соответствующее полю «Общая длина» в заголовке IPv4. Оно определяет размер всего пакета (фрагмента),
                включая заголовок и дополнительные расширения.</p>
            <p class="paragraph"><strong>Следующий заголовок (Next header):</strong> 8-битное поле, соответствующее полю
                «Протокол» в заголовке IPv4. Оно указывает тип полезной нагрузки данных, которые переносит пакет, что
                позволяет сетевому уровню пересылать данные на соответствующий протокол более высокого уровня. Это поле
                также используется в тех случаях, когда в пакет IPv6 добавляются дополнительные заголовки расширений.
            </p>
            <p class="paragraph"><strong>Предел перехода (Hop limit):</strong> 8-битное поле, заменяющее поле «Время
                существования» (TTL) в IPv4. Это значение определяет максимальное количество переходов
                (маршрутизаторов), которое может пройти пакет, прежде чем быть отброшенным. Каждый раз, когда
                маршрутизатор пересылает пакет, значение предела переходов уменьшается на 1. Если предел переходов
                достигает 0, пакет отбрасывается, и генерируется сообщение «ICMPv6 Превышено время ожидания», что
                обеспечивает предотвращение зацикливания маршрутизации и случайных петель в сети.</p>
            <p class="paragraph"><strong>Адрес источника (Source address):</strong> Поле «Адрес отправителя» в заголовке
                IPv6 содержит IPv6-адрес отправителя или источника пакета. Это 128-битный адрес, который уникально
                идентифицирует источник пакета в сети IPv6. Адрес отправителя используется маршрутизаторами и конечными
                узлами назначения для отправки ответных пакетов обратно правильному отправителю.</p>
            <p class="paragraph"><strong>Адрес назначения (Destination address):</strong> Поле «Адрес назначения» в
                заголовке IPv6 содержит IPv6-адрес предполагаемого получателя пакета. Аналогично адресу отправителя, это
                128-битный адрес и служит для обеспечения доставки пакета до его предполагаемого адресата в сети IPv6.
                Маршрутизаторы используют адрес назначения для определения следующего узла для пересылки пакета к его
                окончательному адресату.</p>
            <div class="d-flex justify-content-center mb-5">
                <form action="/testing" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="number" value="2">
                    <button type="submit" class="btn btn-success">Перейти к тесту</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
