{% extends 'layout.html' %}
{% load static %}
{% block title %}
     Лекция 3
{% endblock %}

{% block content %}
    {#    {% include "main/fragments/header.html" %}#}
    <div class="row justify-content-center mt-3">
        <div class="col-8">
            <a href="/" class="mt-2 h5 text-decoration-none" style="margin-right: 2rem">На главную</a>
            <hr class="mt-0 mb-4">
        </div>
        <div class="col-8">
            <div class="mt-2 h4">Заголовок пакета IPv6</div>
            <hr class="mt-0 mb-4">
            <p class="paragraph">Адрес протокола IPv6 состоит из 128 бит и записывается в шестнадцатеричном виде. Адрес
                разбиваются на блоки по 16 бит (хекстеты) и каждый блок представляется четырьмя шестнадцатеричными
                цифрами. Хекстеты разделяются знаком двоеточия. Таким образом, адрес получается достаточно длинным – он
                состоит из 32 шестнадцатеричных цифр и 7 знаков двоеточия.</p>
            <p class="paragraph">Пример IPv6 адреса <strong></strong>2001:0DB0:0000:123A:0000:0000:0000:0030. Запись
                длинная, и чтобы немного упростить процесс записи адресов, используют сокращенную запись. Для того чтобы
                сократить данный адрес надо последовательно применить два правила.</p>
            <h4>Правило 1</h4>
            <p class="paragraph">В каждом хекстете ведущие нули удаляются. Например, во втором хекстете
                <strong></strong>0DB0 заменяется на <strong></strong>DB0. То есть ноль слева удаляется, ноль справа мы
                не трогаем. Если хекстет состоит из одних нулей, то он заменяется на один нуль. Таким образом адрес
                <strong></strong>2001:0DB0:0000:123A:0000:0000:0000:0030 преобразуется в <strong></strong>2001:DB0:0:123A:0:0:0:30.
            </p>
            <h4>Правило 2</h4>
            <p class="paragraph">Это правило применяется только после первого. В адрес выбирается одна самая длинная
                группа, состоящая из полностью нулевых хекстетов, то есть самая длинная последовательность
                <strong></strong>:0:0:0: и заменяется на два двоеточия <strong></strong>::. Эту замену можно произвести
                только один раз и только с самой длинной последовательностью, так как, если бы замена была сделана в
                двух местах адреса, то потом его нельзя было бы восстановить, так как не будет понятно, сколько именно
                хекстетов мы заменили в первом и во втором случае. </p>
            <p class="paragraph">Важный момент: нельзя заменять одну группу из <strong></strong>:0: на <strong></strong>::.
                Правило два применимо только если есть более одной нулевой группы.</p>
            <p class="paragraph">Для примера можно взять адрес из предыдущей замены <strong></strong>2001:DB0:0:123A:0:0:0:30.
                Самая длинная последовательность из полностью пустых хекстетов – это <strong></strong>:0:0:0:, она
                начинается сразу после хекстета <strong></strong>123A. Есть ещё последовательность из одного пустого
                хекстета (между <strong></strong>DB0 и <strong></strong>123A), но эта – длиннее, так что заменять будем
                её. В итоге адрес выглядит так: <strong></strong>2001:DB0:0:123A::30.</p>
            <p class="paragraph">Сокращение адреса loopback в сокращённой записи выглядит вот так <strong></strong>::1.
            </p>
            <h4>Получение исходного адреса по сокращённой записи</h4>
            <p class="paragraph">Сначала надо посчитать, сколько хекстетов в адресе осталось. В нашем случае, в адресе
                <strong></strong>2001:DB0:0:123A::30 осталось 5 хекстетов. Мы знаем, что адрес должен состоять из восьми
                хекстетов – значит вместо «::» возвращаем три недостающих нулевых, получаем <strong></strong>2001:DB0:0:123A:0:0:0:30.
                Теперь в каждой группе, где меньше четырёх цифр дописываем слева такое количество нулей, чтобы в группе
                стало четыре цифры. В результате получим исходный адрес <strong></strong>2001:0DB0:0000:123A:0000:0000:0000:0030.
            </p>
            <h4>Примеры</h4>
            <p class="paragraph">Теперь, чтобы закрепить понимание, приведём несколько примеров сокращения адресов.
                Сокращать будем по правилам в два этапа.</p>
            <h5>FF80:0000:0000:0000:0123:1234:ABCD:EF12 → FF80:0:0:0:123:1234:ABCD:EF12 → FF80::123:1234:ABCD:EF12</h5>
            <h5>FF02:0000:0000:0000:0000:0001:FF00:0300 → FF02:0:0:0:0:1:FF00:300 → FF02::1:FF00:300</h5>
            <h5>2001:0DB8:0000:1111:0000:0000:0000:0200 → 2001:DB8:0:1111:0:0:0:200 → 2001:DB8:0:1111::200</h5>
            <h5>0000:0000:0000:0000:0000:0000:0000:0001 → 0:0:0:0:0:0:0:1 → ::1</h5>
            <h5>0000:0000:0000:0000:0000:0000:0000:0000 → 0:0:0:0:0:0:0:0 → ::</h5>
            <p class="paragraph">Эти правила сокращения помогают упростить и улучшить читаемость записи IP-адресов
                протокола IPv6, делая их более компактными и удобными для использования.</p>
            <div class="d-flex justify-content-center mb-5">
                <form action="/testing" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="number" value="3">
                    <button type="submit" class="btn btn-success">Перейти к тесту</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
