{% extends 'layout.html' %}
{% load static %}
{% block title %}
     Лекция 6
{% endblock %}

{% block content %}
    {#    {% include "main/fragments/header.html" %}#}
    <div class="row justify-content-center mt-3">
        <div class="col-8">
            <a href="/" class="mt-2 h5 text-decoration-none" style="margin-right: 2rem">На главную</a>
            <hr class="mt-0 mb-4">
        </div>
        <div class="col-8">
            <div class="mt-2 h4">Взаимодействие IPv4 и IPv6</div>
            <hr class="mt-0 mb-4">
            <p class="paragraph">К сожалению, одной из серьёзных проблем в распространении является невозможность
                прямого взаимодействия IPv4 и IPv6. Для их взаимодействия было создано несколько технологий. Это двойной
                стек, туннелирование и преобразование. Все эти технологии будут рассмотрены в дальнейшем. IPv6
                Технологии сосуществования IPv6 и IPv4:</p>
            <p class="paragraph"><strong>Двойной стек (dual stack)</strong>: наиболее простой и прямой способ. С этим
                решением каждое
                сетевое устройство, включая использование коммутаторов IPv4 или IPv6, в сети ISP будет настроено со
                способностью запуска IPv4 и IPv6 одновременно. Обычно для связи IPv4 используется стек протоколов IPv4,
                а для связи IPv6 - стек протоколов IPv6. Использование IPv4 или IPv6 основано на ответе на запросы
                системы доменных имен (DNS), но в целом стек протокола IPv6 будет иметь приоритет над IPv4. Двойной стек
                позволяет хосту одновременно получать доступ к существующему контенту IPv4 и IPv6. </p>
            <div class="imageLecture d-flex justify-content-center">
                <img style="width: 60%" src="{% static "main/image/img1lec6.png" %}" alt="">
            </div>
            <div class="d-flex flex-column">
                <h5>Преимущества и недостатки двойного стека</h5>
                <div class="col-12 d-flex flex-row">
                    <div class="positive">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </div>
                    <p class="paragraph">Это исключает необходимость трансляции между двумя стеками протоколов, что
                        обеспечивает
                        высокую эффективность обработки и отсутствие потери информации. Другое преимущество состоит в
                        возможности отключить работу IPv4 и это не повлияет на сеть IPv6, что упрощает полный переход на
                        IPv6 в
                        будущем.</p>
                </div>
                <div class="col-12 d-flex flex-row">
                    <div class="negative">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                        </svg>
                    </div>
                    <p class="paragraph">Требует установки дополнительного программного обеспечения и его
                        конфигурирования
                        на
                        каждом хосте. Увеличение нагрузки на сетевого администратора. Повышение требований к ресурсам
                        хостов.
                        Необходимость поддержки промежуточными маршрутизаторами обоих протоколов. Важной проблемой
                        является
                        удвоение поверхности атаки и понижение безопасности сети.</p>
                </div>
            </div>
            <p class="paragraph"><strong>Туннелирование (Tunnel)</strong>: данный метод предназначен для создания IPv6
                туннелей сквозь
                существующие IPv4 сети, не поддерживающие протокол IPv6. Такие туннели создаются вручную либо
                автоматически и объединяют отдельные IPv6 сети между собой. Пакеты IPv6, входя в такой туннель,
                инкапсулируются в пакеты IPv4 и пересылаются по IPv4 сети на другой конец туннеля. Там они
                деинкапсулируются и обрабатываются далее как обычные IPv6 пакеты.</p>
            <p class="paragraph">Существует множество методов туннелирования, в том числе 6to4 (IPv6 over IPv4 Tunnel),
                GRE (Generic Routing Encapsulation), ISATAP (Intra Sita Automatic Tunnel Addressing Protocol), Teredo,
                6PE (IPv6 Provider Edge), 6RD (IPv6 Rapid Deployment), 6VPE (IPv6 VPN Provider Edge) и MPLS. </p>
            <p class="paragraph">6to4 (IPv6 over IPv4) - это протокол позволяющий устройствам создавать виртуальные
                туннели через сеть IPv4
                для передачи пакетов между узлами IPv6. В нём используется метод статистического маршрутизирования и
                автоматически создает туннели и маршруты, что позволяет сетям, которые не полностью перешли на IPv6,
                использовать его возможности для передачи данных через IPv4 инфраструктуру.</p>
            <p class="paragraph">Он является механизмом туннелирования, который позволяет использовать IPv6-адреса и
                коммуникацию в сети, основанной на стандарте IPv4. Работа протокола 6to4 предполагает создание туннеля
                между IPv6-сетью и IPv4-сетью с использованием глобального адреса 2002::/16, автоматическое назначение
                IPv6-адреса путем использования IPv4-адреса и универсального префикса 2002::/16, мониторинг и управление
                туннелем для обеспечения надежной и эффективной коммуникации между IPv6- и IPv4-сетями, маршрутизация
                IPv6-пакетов и обеспечение безопасности данных (с помощью IPsec).является механизмом туннелирования,
                который позволяет использовать IPv6-адреса и коммуникацию в сети, основанной на стандарте IPv4. Работа
                протокола 6to4 предполагает создание туннеля между IPv6-сетью и IPv4-сетью с использованием глобального
                адреса 2002::/16, автоматическое назначение IPv6-адреса путем использования IPv4-адреса и универсального
                префикса 2002::/16, мониторинг и управление туннелем для обеспечения надежной и эффективной коммуникации
                между IPv6- и IPv4-сетями, маршрутизация IPv6-пакетов и обеспечение безопасности данных (с помощью
                IPsec).</p>
            <p class="paragraph">Протокол <strong>GRE (Generic Routing Encapsulation)</strong> - это общий протокол для
                создания туннелей между различными типами сетей, необязательно связанными с IPv6 или IPv4. GRE
                обеспечивает возможность создания частных сетей поверх общедоступной инфраструктуры и не ограничивает
                адресацию в отличии, например от 6to4. Он может использоваться для создания виртуальных частных сетей
                (VPN), объединения отдаленных сетей через Интернет или для поддержки многопротокольных сетей. GRE также
                может быть использован в комбинации с другими протоколами, такими как IPsec, для обеспечения безопасной
                передачи данных.</p>
            <p class="paragraph">Протокол <strong>ISATAP (Intra-Site Automatic Tunnel Addressing Protocol)</strong>
                имеет несколько отличий от других протоколов туннелирования, таких как 6to4 или GRE. Основные отличия
                ISATAP: Ориентация на использование внутри сети или сайта организации, в отличие от 6to4, который
                ориентирован на общедоступные сети интернет. ISATAP использует локальные или частные IPv4-адреса для
                создания IPv6-адресов, в отличие от 6to4 и GRA, которые используют для этого глобальные адреса. Так же
                он создает виртуальные туннели IPv6 внутри существующей IPv4-сети, что обеспечивает более прозрачное и
                естественное взаимодействие между устройствами, работающими на разных версиях протокола IP.</p>
            <p class="paragraph">MPLS подробно изучается на другом предмете, но тут следует упомянуть про то, что это
                многопротокольная коммутация по меткам и она не зависит от используемого протокола и что по сравнению с
                традиционным методом IP-маршрутизации MPLS анализирует только заголовки IP-пакетов на границе сети,
                экономя время обработки. </p>
            <p class="paragraph">MPLS Tunnel подключается к сети IPv6 через тракт переключения меток (LSP) в сети. Он
                обеспечивает лучшую производительность и оптимизированную маршрутизацию по сравнению с другими методами
                tunnel. MPLS tunnel может быть реализованы многими способами, среди которых 6PE на MPLS является
                распространенным способом. 6PE позволяет IPv6 работать на ядре MPLS, которое использует только IPv4.</p>
            <p class="paragraph">Не менее важным будет упомянуть технологию <strong>6RD (IPv6 Rapid Deployment)</strong>
                — это алгоритм, используемый для автоматического выделения адресов IPv6 на основе существующих адресов
                IPv4. Он позволяет быстро и эффективно развертывать сети IPv6, основываясь на их существующей
                инфраструктуре IPv4. 6RD предполагает создание локальных IPv6-сетей, соответствующих подсетям IPv4, и
                устанавливает механизмы туннелирования для транспортировки трафика между клиентами и центральными
                шлюзами IPv6. </p>
            <p class="paragraph">Принцип работы 6RD основан на использовании механизма туннелирования IPv6 внутри IPv4,
                подобно 6to4, но с некоторыми отличиями. Узлы в сети провайдера IPv6 на самом деле выступают как туннели
                6to4, и весь трафик IPv6 направляется через IPv4-сеть провайдера к удаленному концу туннеля, который
                может быть глобальным точным 6to4-узлом или централизованным шлюзом 6RD.</p>
            <div class="imageLecture d-flex justify-content-center">
                <img style="width: 60%" src="{% static "main/image/img2lec6.png" %}" alt="">
            </div>
            <div class="d-flex flex-column">
                <h5>Преимущества и недостатки MPLS tunnel</h5>
                <div class="col-12 d-flex flex-row">
                    <div class="positive">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </div>
                    <p class="paragraph">Отсутствие влияния на основные устройства MPLS. Возможность использования
                        базовой сети без обновления или перестройки. Экономия денег и времени системного администратора
                        на изменение конфигурации.</p>
                </div>
                <div class="col-12 d-flex flex-row">
                    <div class="negative">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                        </svg>
                    </div>
                    <p class="paragraph">При использовании MPLS tunnel необходимо инкапсулировать и декапсулировать
                        пакеты, что снижает эффективность пересылки. Это увеличивает вычислительную сложность входа и
                        выхода, что ухудшает показатели трафика. </p>
                </div>
            </div>
            <p class="paragraph"><strong>Преобразование (translation):</strong> преобразование сетевых адресов 64
                (NAT64) позволяет
                устройствам под управлением IPv6 обмениваться данными с устройствами под управлением IPv4 с помощью
                метода преобразования, похожего на метод преобразования NAT для IPv4. IPv6-пакет преобразовывается в
                пакет IPv4-пакет, с помощью замены заголовка IP, оставив полезную нагрузку без изменений, и наоборот.
                Для этого применяются различные технологии и механизмы, такие как NAT64, NAT46, DS-Lite, DNS64 и т.
                д.</p>
            <p class="paragraph">DNS64 является технологией, используемой в сетях IPv6 для обеспечения совместимости с
                устройствами, подключенными к сетям IPv4. Этот протокол позволяет осуществлять преобразование адресов,
                когда устройство, подключенное к сети IPv6, пытается получить доступ к ресурсам в сетях IPv4. DNS64
                выполняет эту функцию путем создания виртуальных AAAA-записей на основе существующих A-записей. Таким
                образом, приложения и устройства в сети IPv6 могут автоматически обращаться к серверам и ресурсам,
                которые находятся в сети IPv4, благодаря использованию DNS64 для перевода адресов. </p>
            <div class="imageLecture d-flex justify-content-center">
                <img style="width: 60%" src="{% static "main/image/img3lec6.png" %}" alt="">
            </div>
            <div class="d-flex flex-column">
                <h5>Преимущества и недостатки преобразования</h5>
                <div class="col-12 d-flex flex-row">
                    <div class="positive">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </div>
                    <p class="paragraph">Позволяет устройствам с IPv6 и IPv4 связываться друг с другом и обмениваться
                        данными, даже если они работают на разных версиях протокола IP. Преобразование обеспечивает
                        возможность постепенного перехода к IPv6, что позволяет устройствам и сетям, работающим на IPv4,
                        взаимодействовать с устройствами, работающими на IPv6 без необходимости полного перехода на
                        новую версию протокола.</p>
                </div>
                <div class="col-12 d-flex flex-row">
                    <div class="negative">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                        </svg>
                    </div>
                    <p class="paragraph">Преобразования является более сложным в настройке и поддержке, в сравнении с
                        другими методами. Некоторые старые приложения или протоколы, сконструированные только для
                        использования только с IPv4, могут не корректно функционировать при использовании методов
                        преобразования. Некоторые методы преобразования, такие как NAT64, могут иметь ограничения по
                        масштабируемости при обработке большого объема трафика.</p>
                </div>
            </div>
            <p class="paragraph">Очень важно уметь получать необходимую информацию о сетевой конфигурации устройства. В
                качестве примера будет приведены команды, которые используется для просмотра информации о сетевой
                конфигурации в IPv6 на Windows и Linux.</p>
            <p class="paragraph">Команда route print в операционной системе Windows предназначена для отображения
                текущей таблицы маршрутизации, которая содержит информацию о том, как компьютер должен направлять
                сетевой трафик. Вывод команды route print включает IP-адреса и маски подсети, шлюзы, интерфейсы и
                метрики маршрутов. Команда route print также может быть использована для осуществления диагностики
                сетевых проблем и позволяет просматривать и изменять сетевые маршруты непосредственно из командной
                строки.</p>
            <p class="paragraph">Команда ip -6 route в системе Linux используется для просмотра информации о таблице
                маршрутизации IPv6. С ее помощью можно просматривать текущие маршруты IPv6, добавлять новые маршруты,
                изменять или удалять существующие маршруты. Однако, в контексте преобразования адресов, команда ip -6
                route может быть использована для просмотра информации о том, какие адреса маршрутизируются через какие
                сетевые интерфейсы и шлюзы. Вывод этой команды может помочь в понимании того, как происходит
                преобразование и маршрутизация IPv6 адресов внутри вашей сети, что является важным аспектом при
                настройке и отладке сетевых соединений.</p>
            <div class="d-flex justify-content-center">
                <a href="/testing" class="btn btn-success mb-5">Перейти к тесту</a>
            </div>
        </div>
    </div>
{% endblock %}
